<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Error Page">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="topBar"></div>
    <canvas id="bgCanvas" class="bg_canvas"></canvas>
    <div class="errorContainer">
      <section>
        <h1>JalGraves</h1>
        <h2>Something has gone awry</h2>
        <h2>The site developer has made a mistake and apologizes in advance for the inconvenience</h2>
      </section>
    </div>
    <div id="footer"></div>
    <script src="/js/main.js"></script>
  </body>
</html>
